*{
    margin: 0;
    padding: 0;
   }
   
   .titulo-fonte{
    margin-top: 20px;
   }
   .box-titulo{
    display: flex;
   }
   .divisor{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(162, 219, 236), transparent);
    display: block;
   }
   .bg1 img {
    padding: 20px;
    width: 300px;
    height: 200px;
   }
   .tac{
    text-align: center;
   }
   .box-form{
    padding: 20px;
    background-color: var(--color-1) ;
    color: white;
    border-radius: 10px;
   }
   .box-circle{
    display: flex;
    gap: 5px;
    
   }
   .circle{
    width: 16px;
    height: 16px;
    border-radius: 8px;
   }
   .c1{
    background-color: green;
   }
   .c2{
    background-color: yellow;
   }
   .c3{
    background-color: red
   }
   .input-form{
    background-color: var(--color-1);
    padding: 10px;
    border: none;
    border: 1px solid var(--color-3);
    color: white;
    outline: 0;
    width: 100%;
   }

   .input-form:hover {
    border: 1px solid var(--color-4);
   }
   .btn-cadastro{
    padding: 10px;
    background-color: var(--color-3);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
   }

   .btn-cadastro::after,
   .btn-cadastro:hover {
    background-color: var(--color-4);
    transform: scale(1.1);
   }