.box-new-flashcard {
  width: 70%;
  margin: auto;
  
}
.flashcard {
  background-color: var(--color-1);
  padding: 20px;
  border-radius: 0 20px 0 0;
}
.flashcard-box-item {
  text-align: center;
  
}
.flashcard p {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.flashcard-facil {
  border-left: 15px groove green;
}
.flashcard-medio {
  border-left: 15px groove yellow;
}
.flashcard-dificil {
  border-left: 15px groove red;
}
.flashcard-categoria {
  background-color: var(--color-1);
  display: inline;
  padding: 5px;
}
.resposta-flashcard {
  background-color: var(--color-4);
  padding: 25px;
  display: none;
  border-radius: 0 0 20px 0;
  font-weight: bold;
  
}
.icone-exit {
  float: right;
  font-size: 25px;
  color: red;
}
.form-control {
  background-color: var(--color-1);
  border: 2px solid var(--color-3);
  color: #fff;
}
.form-select {
  background-color: var(--color-1);
  border: 2px solid var(--color-3);
  color: #fff;
}

