:root{
 
    --color-0: #000;
    --color-1: #0f0f0f;
    --color-2: rgb(77, 22, 109);
    --color-3: #6602a0;
    --color-4: #004aac;
    
   }
   body{
    background-color: var(--color-0);
    color: white 
   }
   input::after,
   textarea::after,
   input::before,
   textarea::before,
   input:focus,
   textarea:focus,
   input::selection,
   textarea::selection,
   input:hover,
   textarea:hover {
    background-color: var(--color-1);
    border: 2px solid var(--color-3);
    color: #fff;
  }

