{% extends "base.html" %} {% load static %} {% block 'header' %}
<link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}" />
{% endblock %} {% block 'conteudo' %} {% include "partials/header.html" %}

<div class="bg1">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="box-titulo">
          <div class="box-titulo-item">
            <img
              class="img-logo"
              src="{% static 'usuarios/imagens/logo-ls.png' %}"
            />
            <div class="tac">
              <h4 style="font-size: 30px">
                Sua plataforma online<br />
                para te ajudar nos estudos
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <br />
        <br />
        <div class="box-form">
          <div class="box-circle">
            <div class="circle c1"></div>
            <div class="circle c2"></div>
            <div class="circle c3"></div>
          </div>
          <br />
          {% if messages %} {% for message in messages %}

          <section class="alert {{ message.tags }}">{{ message }}</section>

          {% endfor %} {% endif %}
          <h3>Cadastre-se</h3>

          <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}

            <input
              type="text"
              class="input-form"
              name="nome"
              id=""
              placeholder="Nome:"
              required
            />
            <br />
            <br />

            <input
              type="password"
              class="input-form"
              name="senha"
              id=""
              placeholder="Senha:"
              required
            />
            <br />
            <br />

            <input
              type="password"
              class="input-form"
              name="confirmar_senha"
              id=""
              placeholder="Confirmar senha:"
              required
            />
            <br />
            <br />
            <input type="submit" value="Enviar" class="btn-cadastro" />
            <br />
            <br />
            <br />
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock 'conteudo' %}
